@page "/gameoptions"
@inject NavigationManager Navigation

<div class="home-background">
<h3 id="modePicker">Pick a mode:</h3>
<div id="GameOptions">
    <button class="gameOptionsButtons" @onclick='() => Navigation.NavigateTo("/traditional")'>
        Traditional
    </button>

    <button class="gameOptionsButtons" @onclick='() => Navigation.NavigateTo("/timed")'>
        Timed
    </button>

    <button class="gameOptionsButtons" @onclick='() => Navigation.NavigateTo("/minigames")'>
        MiniGames
    </button>
</div>

<button class="backButton" @onclick='() => Navigation.NavigateTo("/")'>
    Back
</button>
</div>